<div class="container">
    <div class="row"><br>
        <h1 class="col-md-6">Find shows</h1>
        <form 
            (ngSubmit)="searchShows(searchForm)"
            [formGroup]="searchForm"
        >
            <div class="input-group">
                <input type="search" class="form-control" formControlName="query">
                <span class="input-group-btn">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="searchForm.invalid"
                    >
                        Search
                    </button>
                </span>
            </div>
        </form>
    </div>
    <br>

    <!-- Loader -->
    <div class="loader" *ngIf="isLoading"></div>

    <!-- Error Message -->
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

    <!-- No shows found -->
    <div class="alert alert-danger" [hidden]="!errorMessage && (!shows || shows.length > 0)">
        No TV shows found with this name
    </div>

    <!-- Show table -->
    <table class="table table-bordered table-hover table-fixed-header" *ngIf="(shows && shows.length > 0)">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Image</th>
                <th class="text-center">Network</th>
                <th class="text-center">Summary</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let show of shows">
                <td>
                    <h5>
                        <a [routerLink]="['/details', show.show.name, show.show.id]">
                            {{ show.show.name }}
                        </a>
                    </h5>
                </td>
                <td>
                    <img [src]="show.show.image?.medium">
                </td>
                <td>{{ show.show.network?.name }}</td>
                <td [innerHtml]="show.show.summary"></td>
                <td>
                    <h5>
                        <span [ngClass]=
                            "{'bg-success text-white' : show.show.status === 'Running',
                            'bg-danger': show.show.status !== 'Running'}"
                        >
                            {{ show.show.status }}
                        </span>
                    </h5>
                </td>
            </tr>
        </tbody>
    </table>
</div>